<a href="/productos"><button>Ver animes registrados</button></a>
<form method="POST" action="/productos" id="formulario">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" placeholder="Attack on titan" required>
        <label for="mainCharacter">Personaje principal:</label>
        <input type="text" name="mainCharacter" id="mainCharacter" placeholder="Levi" required>
        <label for="img">Url de imagen:</label>
        <input type="text" name="imgUrl" id="imgUrl" placeholder="Insertar url de imagen" required>
        <input type="submit" value="Enviar">
</form>